<div matRipple class="card-container mat-elevation-z4" (click)="toggleItem(item)" [class.selected]="isSelected(item)">
  <!-- LOGO -->
  <div class="logo-container">
    <div class="logo">
      <img [src]="item.imageUrl ? item.imageUrl : 'assets/img/noname.png'" alt="logo" />
    </div>

    <!-- SYMBOL -->
    <div class="symbol-name">{{ item.symbol }} ({{item.category}})</div>
  </div>

  <!-- DETAILS -->
  <div class="alert-name"> {{ item.alertName }}</div>
  <div class="alert-action">{{ item.action }} </div>
  <div class="activation-time">
    <span class="icon-text">
      <mat-icon class="icon-alarm" svgIcon="alarm"></mat-icon>{{item.activationTimeStr}}
    </span>
  </div>
</div>
