<div matRipple class="card-container mat-elevation-z4" (click)="toggleItem(item)" [class.selected]="isSelected(item)">
  <!-- LOGO -->
  <div style="display:flex; flex-direction: row; gap:4px">
    <div class="logo">
      <img [src]="item.imageUrl ? item.imageUrl : 'assets/img/noname.png'" alt="logo" />
    </div>

    <!-- SYMBOL -->
    <div class="symbol-name">{{ item.symbol }} ({{item.category}})</div>
  </div>
  <!-- SYMBOL -->
  <div>Alert Name: {{ item.alertName }}</div>
  <div class="alert-action">Action: {{ item.action }} </div>
  <div class="activation-time">Activation Time: {{item.activationTimeStr}}</div>
</div>
