.user-profile {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between the image and text */
}

.profile-picture {
  width: 26px;
  height: 26px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fits nicely */
}

.greeting {
  font-size: 16px;
  font-weight: 500;
  color: #fbfafa; /* Dark gray text */
}
