<div class="container">
  <!-- <button mat-raised-button class="google-login-btn" (click)="login()">
    <div class="google-content">
      <img src="assets/img/google-logo.png" alt="Google Logo" class="google-logo" />
      <span class="google-text">Login with Google</span>
    </div>
  </button> -->

  <button mat-fab (click)="login()" style="background-color: white;">
    <div style="margin-top: 5px;">
      <img src="assets/img/google-logo.png" alt="Google Logo" style="width: 45px; height: 45px;" />
    </div>
  </button>
</div>
