
.container {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.google-login-btn {
  background-color: #fff;
  color: #444;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  min-width: 240px;
  height: 40px;
  text-transform: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-content {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 100%;
  width: 100%;
}

.google-logo {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.google-text {
  font-size: 14px;
  line-height: 1;
}
