<div class="controls-container" id="header">
  <div class="button-group">
    <button mat-raised-button (click)="rotateIcon()" [disabled]="isRotating">
      <mat-icon [ngClass]="{ 'rotate': isRotating }" class="button-icon-margin">
        sync
      </mat-icon>
    </button>
    <!-- Move button -->
    <button mat-raised-button [disabled]="buttonsDisabled" (click)="onMoveToWorkingCoins()"
      matTooltip="Add Coin to Work" matTooltipPosition="above" color="primary">
      <mat-icon svgIcon="send-to" class="button-icon-margin"></mat-icon>
    </button>

    <!-- Delete button -->
    <button mat-raised-button [disabled]="buttonsDisabled" (click)="onDeleteSelected()" matTooltip="Delete"
      matTooltipPosition="above" color="warn">
      <mat-icon svgIcon="delete" class="button-icon-margin"></mat-icon>
    </button>
  </div>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12 triggered-alerts-table table-margin">

    <!-- SYMBOL -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol</th>
      <td mat-cell *matCellDef="let element" class="symbol-cell">
        <img [src]="element.imageUrl ? element.imageUrl : 'assets/img/noname.png'" alt="logo" class="round-image" />
        {{element.symbol}} ({{element.category}})
      </td>
    </ng-container>

    <!-- ALERT NAME -->
    <ng-container matColumnDef="alertName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Alert Name
      </th>
      <td mat-cell *matCellDef="let element"> <b>{{element.alertName}}</b> </td>
    </ng-container>

    <!-- ACTION -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Action
      </th>
      <td mat-cell *matCellDef="let element"> {{element.action}} </td>
    </ng-container>



    <!-- ACTIVATION TIME STRING -->
    <ng-container matColumnDef="activationTimeStr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Activation Time
      </th>
      <td mat-cell *matCellDef="let element"> <i>{{element.activationTimeStr}}</i> </td>
    </ng-container>

    <!-- CHECKBOX-->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!-- Select All Checkbox -->
        <mat-checkbox [checked]="selection.hasValue() && isAllSelected()" (change)="toggleAll()"
          [indeterminate]="selection.hasValue()&&!isAllSelected()"></mat-checkbox>

      </th>
      <td mat-cell *matCellDef="let element">
        <!-- Individual Row Checkbox -->
        <mat-checkbox (change)="onDataToggled(element)" [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons></mat-paginator>