<div matRipple class="card-container mat-elevation-z4" (click)="toggleItem(item)" [class.selected]="isSelected(item)">
  <div class="logo-container">
    <div class="logo">
      <img [src]="item.imageUrl ? item.imageUrl : 'assets/img/noname.png'" alt="logo" />
    </div>
    <div class="symbol-name">{{ item.symbol }} ({{item.category}})</div>
  </div>
  <div class="alert-name">
    <span class="icon-text">
      <mat-icon style="width: 1.1rem; height: 1.1rem;margin-bottom: .3rem;" svgIcon="anchor"></mat-icon>
      {{item.anchorTimeStr}}
    </span>
  </div>
  <div class="activation-time">
    <span class="icon-text">
      <mat-icon style="width: 1.1rem; height: 1.1rem;margin-bottom: .2rem;" svgIcon="alarm"></mat-icon>
      {{item.activationTimeStr}}
    </span>
  </div>
</div>
