.modal-content {
  text-align: center;
  padding: 20px;
  width: auto;
  height: inherit;
  width: 100%;
}

.image-caption {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.large-image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
}

.card {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;

}

.card-symbol {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btc-symbol {
  max-width: 50px;
  max-height: 50px;
}

.vertical-line {
  width: 2px;
  background-color: #171717;
  height: 100%;
}

.card-description {
  flex: 3;
  padding-left: 15px;
  font-size: 14px;
  color: #333;
  font-style: italic;

}
.round-image {
  width: 4em; /* Set your desired width */
  height: 4em; /* Set your desired height */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover;
  margin-right: 4px;
}

